{
  "check-coverage": true,
  "per-file": false,
  "lines": 70,
  "statements": 70,
  "functions": 70,
  "branches": 70,
  "reporter": ["html", "lcov", "text"],
  "reportOpts": {
    "lcov": {
      "dir": "coverage"
    },
    "html": {
      "dir": "coverage"
    }
  },
  "report-dir": "coverage"
}
